name: File naming conventions

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Search for files violating naming convention
        run: |
          echo "Looking for files with capital extensions..."

          # skip .git, and vendor directories
          matches=$(find . \
            -name .git -prune -o \
            -name node_modules -prune -o \
            -name README.md -prune -o \
            -path ./vendor -prune -o \
            -path ./CONTRIBUTING.md -prune -o \
            -path ./.github/CODEOWNERS -prune -o \
            -path ./LICENSE -prune -o \
            -type f -print | grep -E '[A-Z ]+' || true)
          if [ -n "$matches" ]; then
            echo "ERROR: Found files That do not respect naming convention:"
            echo ""
            echo "$matches"
            echo ""
            echo "Please rename the files to only use kebab or snake case."
            exit 1
          else
            echo "All files respect naming convention."
          fi
