name: Deploy to GitHub Pages
# Updates the GitHub pages website with the changes made in the last push.
# Takes in all markdown files and images of the repository and turns that
# into HTML to present on the GitHub pages website. Used for documentation.

on:
  workflow_dispatch:
  push:
    branches: [main, master, release, development]
    paths:
      - "**/.md"
      - "**/.markdown"
      - "**/.png"
      - "**/.svg"
      - "**/.jpg"
      - "**/.jpeg"
      - "**/*.webp"
      - "**/*.html"
      - "**/*.css"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: github-pages
  cancel-in-progress: false

jobs:

  build:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.3.0
      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1.0.13
        with:
          source: ./
          destination: ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./_site

  deploy:
    name: Deploy site
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
